.error {
	background-color: red;
	width: 330px;
	color: white;
	padding: 5px;
}

#quote-box {
	border: 1px solid black;
	width: 300px;
	margin: 15px;
	padding: 10px;
}

#quotable {
	border: 1px solid black;
	width: 350px;
	overflow: scroll;
	height: 400px;
	display: inline-block;
	padding: 10px;
}

h5 {
	display: block;
	vertical-align: top;
}
span {
	font-weight: bold;
}

span2 {
	font-style: italic;
}

#wrapper {
	margin-left:30px;
	margin-right: 30px;
}

#outer {
	display: inline-block;
}
